﻿
@font-face {
	font-family: 'OpenSansHebrew-Regular';
	src: url('../fonts/OpenSansHebrew-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSansHebrew-Bold';
	src: url('../fonts/OpenSansHebrew-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSansHebrew-ExtraBold';
	src: url('../fonts/OpenSansHebrew-ExtraBold.ttf') format('truetype');
}

body {
	background-color: #ffffff;
	font-family: OpenSansHebrew-Regular;
	width: 100%;
	height: 100%;
	direction: rtl;
	color: #666666;
}

div, span, p, input, textarea {
	font-family: OpenSansHebrew-Regular;
}

a,
a:visited {
	color: #666666;
}

.clear {
	width: 0;
	height: 0;
	clear: both;
}

header {
	width: 100%;
	height: auto;
	background-color: #000000;
}

footer {
	width: 100%;
	height: auto;
	background-color: #282F42;
}

.row {
	width: 100%;
	background-color: #fff;
}

.headerContainer,
.mainPicContainer,
.mainContentContainer,
.footerContainer,
.copyrights {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}


.headerContainer {
	background-color: #fff;
	height: 70px;
}

	.headerContainer .logo {
		width: 180px;
		height: 50px;
		background-image: url(../images/logo.png);
		background-position: center;
		background-repeat: no-repeat;
		float: left;
		padding: 10px 0 10px 15px;
	}

	.headerContainer .contacts {
		height: 50px;
		float: right;
		padding: 10px 10px 10px 0;
		line-height: 50px;
	}


.mainPicContainer {
	width: 100%;
}

	.mainPicContainer h1 {
		font-size: 3.7em;
		color: #fff;
		margin: .4em auto;
		text-align: center;
		font-family: OpenSansHebrew-Bold;
	}

		.mainPicContainer h1 span {
			color: #F20018;
			font-family: OpenSansHebrew-ExtraBold;
		}

	.mainPicContainer img {
		width: 100%;
	}


.mainContentContainer {
	padding-bottom: 30px;
}

.descPic, .descript {
	float: right;
	width: calc(50% - 30px);
	margin-top: 1em;
	color: #445f6e;
	padding: 15px;
}

.descPic, .descript {
	margin-top: 0;
}

.descript {
	text-align: right;
}

	.descript .blockHeading > span {
		display: inline-block;
		vertical-align: middle;
	}

		.descript .blockHeading > span:last-of-type {
			margin-top: -10px;
			text-align: right;
		}

.block .descript .blockHeading img {
	width: 72px;
	height: 72px;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 10px;
}

.block:first-of-type .descript .blockHeading img {
	background-image: url(../images/ctera_ico.png);
}

.block:nth-of-type(2) .descript .blockHeading img {
	background-image: url(../images/clfr_ico.png);
}

.block:nth-of-type(3) .descript .blockHeading img {
	background-image: url(../images/exch_ico.png);
}

.block:nth-of-type(4) .descript .blockHeading img {
	background-image: url(../images/eset_ico.png);
}

.descript .blockHeading h2 {
	font-family: OpenSansHebrew-ExtraBold;
	margin: 0;
	line-height: 1.4em;
}

.descript .blockHeading h3 {
	font-family: OpenSansHebrew-Regular;
	margin: 0;
	font-size: 1em;
}

.descript ul {
	padding-right: 0;
}

.descript li {
	padding: 12px;
	padding-right: 30px;
	background-image: url(../images/v_ico.png);
	background-position-x: right;
	background-position-y: 12px;
	background-repeat: no-repeat;
	list-style-type: none;
	font-size: 15px;
}

.descPic img {
	width: 100%;
	min-width: 270px;
}

.left {
	float: left;
}


form {
	width: calc(100% - 30px);
	display: block;
	float: right;
	padding: 15px;
	background-color: #F0F0F0;
}

	form * {
		display: inline-block;
		margin-left: 10px;
	}

	form div {
		font-family: OpenSansHebrew-Bold;
		color: #282F42;
		width: 260px;
	}

		form div.formFields {
			width: calc(100% - 390px);
		}

	form input {
		height: 30px;
		border-radius: 3px;
		padding: 0 5px;
		border: 1px solid #E0E0E0;
	}

	form div.formFields input {
		width: calc((100% - 65px)/3);
	}

	form input[type="email"] {
		margin-left: 0;
	}

	form input[type="submit"] {
		width: auto;
		padding: 0 34px;
		background-color: #009FE3;
		color: #fff;
		border: 1px solid #009FE3;
		font-weight: bold;
		margin-left: 0;
		cursor: pointer;
	}


.footerContainer {
	width: calc(100% - 20px);
	padding: 0 10px;
}

	.footerContainer,
	.footerContainer a {
		color: #fff;
	}

		.footerContainer .heading {
			font-size: 1.5em;
			display: inline-block;
			width: 50%;
			line-height: 2.5em;
			float: right;
			min-width: 315px;
		}

			.footerContainer .heading:nth-of-type(2) {
				text-align: left;
			}

.copyrights {
	text-align: center;
	font-size: 0.9em;
}


.DivTopMenuBlock {
	width: calc((100% - 20px - 200px)/3);
	height: 220px;
	display: inline-block;
	text-align: right;
	position: relative;
	background-position: 20px 5px;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 0.8em;
	line-height: 1.7em;
	float: right;
}

	.DivTopMenuBlock:nth-of-type(6) {
		width: 200px;
		line-height: 1.5em;
	}

	.DivTopMenuBlock img {
		position: absolute;
		top: 5px;
		left: 40px;
		margin: 10px 0 0 20px;
	}

	.DivTopMenuBlock:nth-of-type(5) img {
		margin: 10px 0 0 80px;
	}

	.DivTopMenuBlock .mHead {
		font-weight: 700;
		font-size: 1em;
	}

/* popup settings */
.fancybox-close {
	top: 0;
	right: 0;
}

.popUpBannerBox {
	position: fixed;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #FFF;
	z-index: 999999;
	display: none;
}

.preloader {
	position: fixed;
	background: transparent;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #FFF;
	z-index: 999999;
	display: none;
}

	.preloader img {
		width: 250px;
	}

.close {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
}

	.close:hover::before, .close:hover::after {
		background: #fff;
	}

	.close::before, .close::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: #fff;
	}

	.close::before {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.close::after {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.close.thick::before, .close.thick::after {
		height: 4px;
		margin-top: -2px;
	}

	.close.fat::before, .close.fat::after {
		border-radius: 100%;
	}

#popUp_content .text {
	font-family: OpenSansHebrew-Bold;
	font-size: 1.2em;
}
#closeButton {
	cursor: pointer;
}

.failed {
	color: #F20018;
}

@media only screen and (max-width: 1170px) {
	.DivTopMenuBlock {
		min-width: 300px;
	}
}
/* End of @media only screen and (max-width: 1170px) */

@media only screen and (max-width:799px) {
	.mainPicContainer h1 {
		font-size: 3.4em;
	}

	.descPic, .descript {
		clear: both;
		max-width: calc(100% - 30px);
		width: 100%;
	}

	.descPic {
		text-align: center;
	}

		.descPic img {
			max-width: 400px;
		}

	.descript .blockHeading {
		text-align: center;
	}

	form * {
		margin: 0;
	}

	form div {
		width: 100%;
		text-align: center;
	}

	form input {
		height: 40px;
	}

		form input[type="submit"] {
			display: block;
			margin: 0 auto;
			padding: 0 40px;
		}

	form div.formFields {
		width: 100%;
		margin: 10px 0;
	}

	div.formFields input {
		width: calc(100% - 10px) !important;
		margin: 5px 0;
	}

	.left {
		float: none;
	}

	.footerContainer .heading {
		font-size: 1.5em;
		width: 50%;
		line-height: 1.7em;
	}
}
/* End of @media only screen and (max-width:799px)*/

@media only screen and (max-width: 680px) {
	.footerContainer .heading {
		font-size: 1.4em;
		width: 100%;
	}

		.footerContainer .heading:nth-of-type(2) {
			text-align: right;
		}

	.mainPicContainer h1 {
		font-size: 2.8em;
	}
}
/* End of @media only screen and (max-width: 680px) */

@media only screen and (max-width: 500px) {
	.headerContainer {
		height: 115px;
	}

		.headerContainer .logo,
		.headerContainer .contacts {
			float: none;
			margin: 0 auto;
			padding: 10px 0;
		}

		.headerContainer .contacts {
			line-height: 15px;
			height: 20px;
			text-align: center;
		}
}
/* End of @media only screen and (max-width: 500px) */
